html, body  {
  background-color: #F5F5F5;
  margin:0px;
  font-size: 36px;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: #252525;
}

h2 {
  font-size:48px;
}

.btn-default, .btn-lg {
  font-size: 36px !important;
  border: 1px solid #252525 !important;
} 

footer {
  h1, h2, h3, h4, h5, h6, p, li {
    color:#F5F5F5;
  }
}

body {
    position: relative;
    min-height: 100dvh;
}

.content {
    padding-bottom: 2.5em;
    z-index:2;
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 15%;
    padding: 5%;
    margin:0px !important;
}

.absolute {
  position: absolute !important;
}

script {
  visibility:hidden;
}
.navbar-brand {
  font-family: 'Ms Madi', cursive;
  font-weight: bold;
  font-size: 40px;
}